.button-icon {
    padding: 0.5em;
    line-height: 0.8;
    border-radius: 5px;
    font-size: 14px;
    /* font-size: 0.9em; */
    color: #ffffffcc;
    background-color: #11111100;
    transition: all 200ms ease;
    &:focus {
        outline: 0px auto -webkit-focus-ring-color;
      }
    &:hover {
      color: white;
      border-color: #ffffff;
    }
}

.button-icon--active {
  border: 1px solid #adadad;
  background-color: #d4d4d4;
}

@media (prefers-color-scheme: light) {
    .button-icon {
      color: #213547;
      background-color: #e4e4e400;
      &:hover {
        color: rgb(0, 0, 0);
        background-color: #e7e7e7aa;
        border-color: #353535;
      }
    }
  }