.button-icon {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;
    box-shadow: 
      0px 1px 1px 0px #FFFFFF33 inset,
      0px 6px 12px 0px #FFFFFF1F inset,
      0px 1px 2px 0px #08080833,
      0px 4px 4px 0px #08080814;
    color: #ffffffcc;
    background-color: #11111100;
    transition: all 200ms ease;
    border-color: transparent;
    &:focus {
        outline: none;
      }
    &:hover {
      color: white;
      border: border: 1px solid transparent;;
    }
}

.button-icon--active {
  border: 1px solid #adadad;
  background-color: #111111;
}

.button-icon__tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px); /* Располагаем подсказку справа от кнопки */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  display: none;
  max-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  z-index: 999;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.button-icon__tooltip {
	cursor: help;
}

.button-icon__tooltip::after{
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip);
    margin-top: -24px;
    font-size: 10px;
    opacity: 0;
    max-width: min(80%, 400px);
    padding: 3px 7px;
    position: fixed;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.button-icon__tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}

.button-icon:hover .button-icon__tooltip {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  display: block;
}

@media (prefers-color-scheme: light) {
    .button-icon {
      color: #213547;
      background-color: #e4e4e400;
      border: 1px solid transparent;
      &:hover {
        color: rgb(0, 0, 0);
        background-color: #e7e7e7aa;
      }
    }
    .button-icon--active {
      border: 1px solid #adadad;
      background-color: #d4d4d4;
    }
  }