.button {
    padding: 0.5em;
    line-height: 0.8;
    border-radius: 5px;
    font-size: 14px;
    /* font-size: 0.9em; */
    color: #ffffffcc;
    background-color: #11111100;
    transition: all 200ms ease;
    &:focus {
        outline: 0px auto -webkit-focus-ring-color;
      }
    &:hover {
      color: white;
      border-color: #ffffff;
    }
}

.button--accent {
  border: none;
  border-radius: 100px;
  background-color: #f5731d;
  color: white;
  padding: 12px 24px;
  font-weight: 600;
  &:hover {
    background-color: #df6d21;
  }
}

@media (prefers-color-scheme: light) {
    .button {
      color: #213547;
      background-color: #e4e4e400;
      &:hover {
        color: rgb(0, 0, 0);
        background-color: #e7e7e7aa;
        border-color: #353535;
      }
    }
    .button--accent {
      background-color: #f5731d;
      color: white;
      padding: 12px 24px;
      font-weight: 600;
      &:hover {
        background-color: #df6d21;
        color: white;
      }
    }
  }