.curves-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curves-modal__preview {
    display: none;
}

.curves-modal__preview--active {
    display: block;
    
}

.curves-modal__table {
    display: grid;
    grid-template-columns: 80px 90px 90px;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    margin: 20px 0;
}

.curves-modal__name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.curves-modal__name--a {
    grid-column-start: 2;
}



.curves-modal__actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}