  .modal {
    background-color: rgb(29,29,29);
    border: none;
    border-radius: 6px;
    padding: 0;
    width: min(64%, 420px, calc(100% - 20px));
    animation: scaleIn 0.4s ease;
    margin: 15% auto;
  }

  .modal__head {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .modal__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .modal__title {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  .modal__close {
    background-color: #262626;
    display: flex;
    height: 42px;
    width: 42px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    float: right;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
  }
  .modal__close:focus {
    outline: 1.5px;
  }
  .modal__close:hover {
    border: 1px solid rgb(136, 136, 136);;
  }
  
  .close:hover, .close:focus {
    color: rgb(136, 136, 136);
    text-decoration: none;
    cursor: pointer;
  }

  .preview {
    margin-top: 20px;
    height: auto;
    width: 360px;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes scaleIn {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
  }
  
  @media (prefers-color-scheme: light) {
    .modal-content {
      color: #000000;
      background-color: #eaeaea;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }