  .modal {
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius: 6px;
    padding: 0;
    width: min(64%, 420px, calc(100% - 20px));
    animation: scaleIn 0.4s ease;
  }

  .modal--w80 {
    width: min(80%, 560px, calc(100% - 20px));

  }

  .modal__head {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .modal__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .modal__title {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .modal__close {
    background-color: #262626;
    display: flex;
    height: 38px;
    width: 38px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    float: right;
    font-size: 14px;
    line-height: 14px;
    font-weight: 800;
  }

  .modal__close:focus {
    outline: 1.5px;
  }

  .modal__close:hover {
    border: 1px solid rgb(136, 136, 136);
  }

  .close:hover,
  .close:focus {
    color: rgb(136, 136, 136);
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.7);
    }

    to {
      transform: scale(1);
    }
  }

  @media (prefers-color-scheme: light) {
    .modal {
      background-color: white;
    }

    .modal__head {
      background-color: rgb(248, 248, 248);
    }

    .modal__close {
      background-color: var(--light-gray);
      color: var(--dark-drop);
    }

    .modal__title {
      color: var(--dark-drop);
    }

    button {
      background-color: #f9f9f9;
    }
  }