.form-group {
    margin-bottom: 14px;
}

.form__text {
    font-size: 16px;
    padding: 0;
    margin: 8px 0;
}

.form__label {
    font-size: 12px;
}

.form__name {
    font-weight: 600;
    font-size: 16px;
}

.form__settings {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 110px 1fr;
    line-height: 100%;
    gap: 8px;
    margin-bottom: 10px;
}

.form__button {
    margin: 0 auto;
}

.scaling-modal {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    width: 95%;
}

.tooltip {
	cursor: help;
}

.tooltip::after{
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip);
    margin-top: -24px;
    font-size: 10px;
    opacity: 0;
    max-width: min(80%, 400px);
    padding: 3px 7px;
    position: fixed;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}

.form__select-iterpolation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form__lock {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: -32px;
    top: 42px;
}

.form__lock-button {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border-radius: 4px;

    &:hover {
        border: none;
        background-color: var(--dark-gray);
    }

    &:focus {
        border: 1px solid var(--dark-gray);
        outline: none;
    }
}

.form__lock-line {
    width: 18px;
    height: 18px;
}

.lock {
    fill: none;
    stroke: rgb(144, 144, 144);
    stroke-miterlimit: 10;
}

.form__errors {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
}

.form__error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    line-height: 1.2;
}

@media (prefers-color-scheme: light) {
    .scaling-modal {
        color: black;
    }

    .form__lock-button {
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
        border-radius: 4px;
    
        &:hover {
            border: none;
            background-color: #d5d5d5;
        }
    
        &:focus {
            border: 1px solid #d5d5d5;
            outline: none;
        }
    }
}