:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(248, 248, 248);
  background-color: #1E1E1E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-bg: rgb(29, 29, 29);
  --dark-gray: rgb(50, 50, 50);
  --dark-drop: rgb(38, 38, 38);
  --dark-drophover: rgb(63, 63, 63);
  --light-gray: rgb(213, 213, 213);
  --light-bg: rgb(248, 248, 248);
  --accent: #df6d21;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(#FF4D00 -50%, rgb(50, 50, 50) 80%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, p, span {
  padding: 0;
  margin: 0;
}

::backdrop {
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.368) 70.83%, #44444443 100%);
  background-color: #1a1a1a;
  opacity: 0.75;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 4px;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0f0e0d;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f0f0f0;
  }
  body {
    background-image: linear-gradient(#FF4D00 -30%, var(--light-gray) 85%);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}